.main-container {
    border: 2px double #e1e1e1;
    border-radius: 20px;
    height: 300px;
    text-align: center;
    width: 700px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.welcome-container {
    text-align: center;
}

.save-btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    background: #dfdfdf;
    display: inline-block;
    margin-top: 20px;
}

.save-btn:hover {
    background: #4d4542;
    color: #FFF;
}

.empty-info {
    color: #ff0000;
}